<div class = "container">

 <div class = "row text-center">
    <div class = "col-md-12 my-3">
      <div class="search">
        <%= form_tag(admin_movies_path, method: :get) do %>
            <%= search_field_tag :looking_for, nil, placeholder: 'Movie Title...' , :size => "40*40" %>
            <%= submit_tag 'search' %>
        <% end %>
      </div>
    </div>
 </div>

<div class = "row justify-content-center">
    <% @movies.each do |movie| %>
        <div class = "col-md-3 my-3 text-center">
            <div class ="card border-secondary mb-3h-100">
                <div class ="card-header">
            <%= link_to movie_path(movie['id']) do %>
                <% if movie['poster_path'] %>
                    <p><%= image_tag 'https://image.tmdb.org/t/p/w342' + movie['poster_path'],class: "card-img" %></p>
                <% end %>
            <% end %>
                </div>
            <div class="card-body">
                <p class="card-text"><%= link_to movie['title'], admin_movie_path(movie['id']), class:"btn btn-link" %></p>
            </div>
            </div>
        </div>
  <% end %>
</div>

  <div class = "row">
    <div class = "my-5 text-center" style="max-width: 500px; margin: 0 auto;">
     <h3> <%= paginate @movies %></h3>
    </div>
  </div>
</div>