<div class = "container">
 <div class = "row text-center">
    <div class = "col-md-12 my-3">
      <div class="search">
        <%= form_tag(admin_movies_path, method: :get) do %>
            <%= search_field_tag :looking_for, nil, placeholder: 'Movie Title...' , :size => "40*40" %>
            <%= submit_tag 'search' %>
        <% end %>
      </div>
    </div>

<div class = "row">
    <% @movies.each do |movie| %>
        <div class = "col-md-3 my-3">
            <p><%= movie['title'] %></p>
            <%= link_to movie_path(movie['id']) do %>
                <% if movie['poster_path'] %>
                    <p><%= image_tag 'https://image.tmdb.org/t/p/w342' + movie['poster_path'],class: "card-img" %></p>
                <% end %>
            <% end %>
            <p><%= link_to "詳細へ", admin_movie_path(movie['id']) %></p>
        </div>
    <% end %>
</div>

  <div class = "row mx-auto">
    <div class = "my-5 text-center">
    <h3> <%= paginate @movies %></h3>
   </div>
  </div>
 </div>
</div>