<div class="movie-detail text-center mt-3">
    <h3>Title:<%= @movie['title'] %></h3>
    <p>Year:<%= @movie['release_date'] %></p>
    <p>Genres:<%= @movie['genres'][0]['name'] %></p>
    <p>Runtime:<%= @movie['runtime'] %>分</p>
    <% if @movie['poster_path'] %>
    <p><%= image_tag 'https://image.tmdb.org/t/p/w200' + @movie['poster_path'],class: "card-size" %></p>
    <% end %>
    <p><%= @movie['overview'] %></p>
    <%= button_to "保存する", admin_movies_path(movie: @movie), method: :post, class:"btn btn-outline-success mb-2" %>
</div>