<h1>posts#new</h1>
<%= form_for @post do |f| %>
    <div class="field">
        <p><%= f.label :title %>:<%= @movie['title']%></p>
        <p><%= f.hidden_field :title, :size => 140, value: @movie['title']%></p>

        <p><%= image_tag 'https://image.tmdb.org/t/p/w200' + @movie['poster_path'] %></p>
        <p><%= f.hidden_field :image, value: 'https://image.tmdb.org/t/p/w200' + @movie['poster_path'] %></p>

        <p><%= f.label :overview %>:<%= @movie['overview']%></p>
        <p><%= f.hidden_field :overview, :size => 140, value: @movie['overview'] %></p>
        <%= f.label :contents,"感想" %>
        <p><%= f.text_area :contents, :size => "20x5"%></p>
    </div>
    <%= f.submit "postする" %>
<% end %>
<%= link_to "post一覧に戻る", admin_movie_posts_path %>
<p></p>
