<!DOCTYPE html>
<html>
  <head>
    <title>Eiga</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style="background-color:white">
    <header>
      <style>
       header{font-family: 'Noto Serif JP', serif;}
      </style>
        <%= render 'layouts/header' %>
    </header>
    <div style="background-color:#000000;">
      <div class="text-light ml-5">
        <%= flash[:notice] %>
      </div>
    </div>

    <main>
    <%= yield %>
    </main>

    <div class="mt-5">
      <style>
        footer{font-family: 'Noto Serif JP', serif;}
      </style>
       <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
