<!DOCTYPE html>
<html>
  <head>
    <title>Eiga</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
     header{font-family: 'Noto Serif JP', serif;}
    </style>
  </head>

  <body style="background-color:white">
    <header>
      <%= render 'layouts/header' %>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      <style>
        footer{font-family: 'Noto Serif JP', serif;}
      </style>
       <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
